<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Configurações MySQL -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pge</property>
    <!-- Usuário e Senha -->
    <property name="hibernate.connection.username">user</property>
    <property name="hibernate.connection.password">pass</property>
    <!-- Extra -->
    <property name="hibernate.show_sql">true</property>
    <!-- Mapeamento de Classes -->
    <mapping class="business.Mod"/>
  </session-factory>
</hibernate-configuration>
